@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  overscroll-behavior: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

:where(input, select, textarea) {
  outline: none;
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.btn {
  cursor: pointer;
}

.input {
  height: 35px;
  background: #ffffff;
  padding: 0 10px;
  color: #1a1a1a;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  border: 1px solid transparent;
  border-radius: 6px;
}

.input::placeholder {
  color: #808080;
}

.input:hover {
  border: 1px solid #d9d9d9;
}

.input:focus {
  border: 1px solid #2e7b60;
}
